body {
	padding-top: 50px;
}

.em-text {
	color: #1caa98 !important;
}

.col-md-4{
	margin-bottom: 20px;
}

section {
	padding: 40px 0 40px 0;
}

.jumbotron {
	background-image: url("../img/site_showcase_bg.jpg");
	background-size: cover;
	color: #fff !important;
	height: 500px;
	overflow: none;
	background-color: #1caa98;
}

.jumbotron h1 {
	margin-top: 60px;
}

.jumbotron p {
	margin-bottom: 40px;
}

.jumbotron .app-btn {
	width: 40%;
	margin-right: 30px;
}

.jumbotron .showcase-img {
	width: 62%;
}

.demo {
	border: 1px solid #1caa98;
	padding: 3px;
	width: 100%;
}

#features {
	background: #1caa98;
	color: white;
	padding: 40px;
	overflow: auto;
}

#features ul{
	padding: 0;
	margin: 0;
}

#features li {
	font-size: 22px;
	list-style: none;
	line-height: 2em;
}


#title-bar {
	padding: 0;
	margin: 0;
	height: 80px;
	background: #1caa98;
	color: white;
}

#title-bar h1 {
	margin-bottom: 20px;
}

footer {
	background-color: darkgrey;
	color: white;
	padding: 30px 0 20px 0;
}

footer li {
	float: left;
	padding: 10px;
	list-style: none;
}

footer a {
	color: white;
}

footer p {
	float: right;
}


/*  Media Queries   */

@media(max-width:1200px) {
	.showcase-img {
		display: none;
	}
}

@media(max-width:991px) {}

@media(min-width:768px) and (max-width:990px) {
	.jumbotron .app-btn {
		width: 30%;
	}
	.jumbotron {
		height: 400px !important;
		background-size: 100% 100%;
	}
	.jumbotron h1 {
		margin-top: 10px;
	}
}

@media(max-width:768px) {
	.jumbotron {
		height: 350px !important;
		background-size: 100% 100%;
	}
	.jumbotron h1 {
		margin-top: 10px;
	}
}

@media (max-width:500px) {
	.jumbotron {
		height: 350px !important;
		background-image: none;
		background-color: #1b222a !important;
		text-align: center;
	}
	
	.jumbotron .app-btn{
		width: 60%;
		margin: 0 auto 30px auto;
		display: block;
	}
	
	#features ul li{
		font-size: 19px !important;
	}
	footer p{
		float: none;
		text-align: center;
	}
}